body {
	background: linear-gradient( 45deg, #fff, #cff );
}
body.home h1 {
	position: absolute;
	top: 5em;
	left: -2em;
	width: 70%;
	height: 2em;
	line-height: 2em;
	text-align: right;
	font-size: 5em;
	margin: 0;
	padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
	background-color: rgba(100,36,72,0.95);
	color: #fff;
	font-family: Righteous;
/*	transition: left 1s linear;*/
	animation:banner_entrance 2s 1 cubic-bezier(0,1.2,0.8,1);
	z-index: 1;
}
@keyframes banner_entrance {
	0% {
		left: -15em;
	}
	100% {
		left: -2em;
	}
}
@keyframes dog_grow {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
body.home {
	text-align: center;
}
body.home h1::after {
	content: '';
	position:absolute;
	right:-3em;
	top: -3em;
	width: 1em;
	height: 3em;
	border-bottom: 2em solid rgba(100,36,72,0.95);
	border-right: 2em solid transparent;
}
body.home .dogs {
	position: relative;
	animation: dog_grow 0.75s 1 ease-in;
}
#login {
	font-size: 2em;
	width: 4.5em;
	height: 4.5em;
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(100,36,72,0.95) 50%, rgba(100,36,72,0.95) 100%);
	top:0;
	right:0em;
	position:fixed;
	transition: all 0.75s ease-in;
}
#login:hover {
	width: 5.5em;
	height: 5.5em;
}
#login .text {
	font-family: Righteous;
	color: #fff;
	transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	position: absolute;
	width: 100%;
	cursor:pointer;
	text-align: right;
}
#login .text a {
	text-decoration: none;
	color: #fff;
	transition: color 1s linear;
}
#login:hover .text a {
	color: #ccc;
}
#login.loggedin .text a {
	font-size: 0.75em;
}
